* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(images/2015_mercedes_benz_glc_coupe_concept_2-wide.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  font-size: large;
}

 nav {
    display: flex;
    align-items: center;
    padding: 5px 20px;
    height: 17vh;
    justify-content: space-between;
    background-color: rgba(243, 255, 240, 0.486);
    box-shadow: 0 0 20px
}

ul {
    display: flex;
    align-items: center;
    gap: 20px;
}



